:root{
    --background-body: #202020;
    --background-header: #303030;
    --color-base: #202020;
    --color-primary: #ffc400;
    --color-hover: #404040;
    --color-hover-strong: #505050;
    --color-contrast: #bebebe;
    --color-success: #004203;
    --button-dark: #0a0a0a;
    --notification--error: #F5431F;
    --notification--success: #38a019;
    --notification--special: #99861b;
}