<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>&omega;Engine</title>
    <link rel="icon" href="favicon.png"/>

    <meta name="keywords" content="&omega;Engine"/>
    <meta name="description" content="Modding Engine"/>
    <meta name="image" content="https:/jwklong.github.io/omega-engine/cover.png"/>
    <meta name="theme-color" content="#ffa600"/>

    <meta name="og:title" content="&omega;Engine"/>
    <meta name="og:type" content="website"/>
    <meta name="og:description" content="Modding Engine"/>
    <meta name="og:image" content="https:/jwklong.github.io/omega-engine/cover.png"/>

    <link rel="stylesheet" href="css/main.css"/>
    <link id="theme" rel="stylesheet" href="css/themes/dark.css"/>
    <link id="font" rel="stylesheet" href="css/fonts/typespace.css"/>
</head>
<body>
<div id="loading">
    <h2><span class="omega">&omega;</span> E n g i n e</h2>
    <p>Starting engine...</p>
</div>
<div id="app">
    <header>
        <nav>
            <div>
                <h2 id="superImportantTitle"><span class="omega">ω</span>Engine</h2>
                <button @click="settings.tab = 'Layers'"><img alt="L" class="inline" src="images/layers.svg"/> Layers</button>
                <button @click="settings.tab = 'Achievements'"><img alt="A" class="inline" src="images/star.svg"/> Achievements</button>
                <button @click="settings.tab = 'Guide'"><img alt="G" class="inline" src="images/information-circle.svg"/> Guide</button>
                <button @click="settings.tab = 'Settings'"><img alt="S" class="inline" src="images/settings.svg"/> Settings</button>
            </div>
            <div>
                <layer-locked-button id="automatorButton" v-if="!isMeta && isLayerCategory === 'Layers'" @click="settings.tab = 'Automators'" :layerid="1"><img alt="Au" class="inline" src="images/hardware-chip.svg"/> Automators</layer-locked-button>
                <layer-locked-button id="volatilityButton" v-if="!isMeta && isLayerCategory === 'Layers'" @click="settings.tab = 'Volatility'" :layerid="2"><img alt="V" class="inline" src="images/save.svg"/> Volatility</layer-locked-button>
                <layer-locked-button id="alephButton" v-if="!isMeta && isLayerCategory === 'Layers'" @click="settings.tab = 'Aleph'" :layerid="3"><span class="aleph">ℵ</span> Aleph</layer-locked-button>
                <layer-locked-button id="restackButton" v-if="isLayerCategory === 'Layers'" @click="settings.tab = 'ReStack'" :layerid="9"><img alt="R" class="inline" src="images/layercoin.svg"/> ReStack</layer-locked-button>
                <button v-if="isLayerCategory === 'Guide'" @click="settings.tab = 'Changelog'"><img style="filter: none" alt="C" class="inline" src="favicon.png"> Changelog</button>
                <button v-if="isLayerCategory === 'Guide'" @click="settings.tab = 'Engine Changelog'"><img style="filter: none" alt="EC" class="inline" src="https://jwklong.github.io/omega-engine/favicon.png"> Engine Changelog</button>
                <button v-if="isLayerCategory === 'Achievements' && secretAchUnlock" @click="settings.tab = 'Secret Achievements'"><img alt="Sa" class="inline" src="images/star.svg"> Secret Achievements</button>
                <button id="debugButton" v-if="isLayerCategory === 'Settings' && isDebug" @click="settings.tab = 'Debug'"><img alt="S" class="inline" src="images/settings.svg"/> Debug</button>
            </div>
        </nav>
        <news-ticker v-if="settings.newsTicker"></news-ticker>
        <layer-navigation v-if="settings.tab === 'Layers' && !isMeta" :layers="layers"></layer-navigation>
    </header>
    <main>
        <notification-container :notifications="notifications"></notification-container>
        <div v-if="settings.tab === 'Layers'">
            <prestige-layer v-if="!isMeta" :layer="currentLayer"></prestige-layer>
            <meta-layer v-else></meta-layer>
        </div>
        <settings-menu v-if="settings.tab === 'Settings'"></settings-menu>
        <volatility-tab v-if="settings.tab === 'Volatility'"></volatility-tab>
        <achievement-tab v-if="settings.tab === 'Achievements'"></achievement-tab>
        <secret-achievement-tab v-if="settings.tab === 'Secret Achievements'"></secret-achievement-tab>
        <automator-tab v-if="settings.tab === 'Automators'"></automator-tab>
        <aleph-layer v-if="settings.tab === 'Aleph'"></aleph-layer>
        <restack-tab v-if="settings.tab === 'ReStack'"></restack-tab>
        <guide-tab v-if="settings.tab === 'Guide'"></guide-tab>
        <changelog-tab v-if="settings.tab === 'Changelog'"></changelog-tab>
        <engine-tab v-if="settings.tab === 'Engine Changelog'"></engine-tab>
        <debug-tab v-if="settings.tab === 'Debug'"></debug-tab>
        <endgame-tab v-if="settings.tab === 'Endgame'"></endgame-tab>
    </main>
    <footer>
        <div>
            <a href="https://veprogames.github.io/omega-layers" target="_blank">Original Game</a>
            <a href="https://github.com/jwklong/omega-engine" target="_blank">Source Code</a>
            <a href="https://discord.gg/xF9KYsYsMA" target="_blank">Community Server</a>
        </div>
    </footer>
</div>

<script src="https://polyfill.io/v3/polyfill.min.js?features=Array.prototype.flat"></script>

<script src="js/break_eternity.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@antimatter-dimensions/notations@1.6.0"></script>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- production version, optimized for size and speed -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->

<script>
    var LETTERS = "αβγδεζηθικλμνξοπρστυφχψωΑΒΓΔΕΖΗΘΙΚΛΜΝΞΟΠΡΣΤΥΦΧΨΩ";
    var ORDERS = "ψϝϛͱϻϙͳϸ";
    var GIANTS = ["Ʊ", "Ʊ<sup>2</sup>","Ʊ<sup>3</sup>","Ʊ<sup>2<sup>2</sup></sup>"]
    var endgameReq = false
</script>

<script src="js/vocabulary.js"></script>
<script src="js/classes/random.js"></script>
<script src="js/classes/utils.js"></script>
<script src="js/classes/featureunlockmanager.js"></script>

<script src="js/debugclass.js"></script>
<script src="js/mod.js"></script>

<script src="js/debug/test.js"></script>
<script src="js/debug/tabTesting.js"></script>
<script src="js/debug/debugSaves.js"></script>

<script src="js/classes/generator.js"></script>
<script src="js/classes/powergenerator.js"></script>
<script src="js/classes/upgrade.js"></script>
<script src="js/classes/challenge.js"></script>
<script src="js/classes/prestigelayer.js"></script>
<script src="js/classes/alephlayer.js"></script>
<script src="js/classes/achievement.js"></script>
<script src="js/classes/automator.js"></script>
<script src="js/classes/restacklayer.js"></script>
<script src="js/classes/metalayer.js"></script>
<script src="js/classes/notification.js"></script>

<script src="js/components/layer-colored-text.js"></script>
<script src="js/components/layer-locked-button.js"></script>
<script src="js/components/aleph-locked-button.js"></script>
<script src="js/components/restack-locked-button.js"></script>
<script src="js/components/generator.js"></script>
<script src="js/components/generator-table.js"></script>
<script src="js/components/resource-name.js"></script>
<script src="js/components/resource-display.js"></script>
<script src="js/components/upgrade.js"></script>
<script src="js/components/resource-upgrade.js"></script>
<script src="js/components/aleph-upgrade.js"></script>
<script src="js/components/restack-upgrade.js"></script>
<script src="js/components/dynamic-upgrade.js"></script>
<script src="js/components/upgrade-container.js"></script>
<script src="js/components/upgrade-tree.js"></script>
<script src="js/components/upgrade-tree-arrow.js"></script>
<script src="js/components/challenge.js"></script>
<script src="js/components/challenge-table.js"></script>
<script src="js/components/current-challenge.js"></script>
<script src="js/components/layer-statistics.js"></script>
<script src="js/components/prestige-layer.js"></script>
<script src="js/components/layer-navigation.js"></script>
<script src="js/components/settings-menu.js"></script>
<script src="js/components/volatility-tab.js"></script>
<script src="js/components/aleph-layer.js"></script>
<script src="js/components/automator.js"></script>
<script src="js/components/automator-tab.js"></script>
<script src="js/components/restack-tab.js"></script>
<script src="js/components/meta-layer.js"></script>
<script src="js/components/news-ticker.js"></script>
<script src="js/components/achievement.js"></script>
<script src="js/components/achievement-tab.js"></script>
<script src="js/components/secret-achievement-tab.js"></script>
<script src="js/components/notification.js"></script>
<script src="js/components/notification-container.js"></script>
<script src="js/components/guide-item.js"></script>
<script src="js/components/guide-tab.js"></script>
<script src="js/components/changelog-tab.js"></script>
<script src="js/components/engine-tab.js"></script>
<script src="js/components/debug-tab.js"></script>
<script src="js/components/endgame-tab.js"></script>

<script src="js/data/functions.js"></script>
<script src="js/data/computed.js"></script>
<script src="js/data/temp.js"></script>
<script src="js/data/game.js"></script>

<script src="js/main.js"></script>
<script>
    var endgameReq = game.metaLayer.layer.gte(mod.Infinities[0])
    setInterval(function() {
        if (endgameReq && !temp.endgameOverride) {
            game.settings.tab = "Endgame"
            temp.endgameOverride = true
        }
    }, 1000/60)
</script>
</body>
</html>
